body {
  margin: 60px auto;
  width: 40%;
  max-width: 60rem;
  margin: 0 auto;
  opacity: 97%;
  background-color: #b2fcff;
  font-family: "Zilla Slab", serif;
}

nav {
    margin-top: 70px;
  }
  
  
  nav ul {
    font-size: 1.2rem;
    list-style: none !important;
    font-weight: 600;
  }
  
  nav ul li {
    display: inline;
    text-decoration: none !important;
    padding-right: 2rem;
  }

.pagetitle {
    font-size: 3rem;
  color: #470938;
  font-weight: 700;
}


footer{
    padding-top: 40px;
    bottom: 0;
    height: 2em;
    left: 0;
    position: relative;
  width: 100%;
}