<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <meta charset="utf-8">
        <title> {{pageTitle}}</title>
    </head>
    <body>
        <h1>{{ pageTitle }}</h1>

        {{ content }}
    </body>
</html>